---
import { Image } from '@astrojs/image/components';
import logo from '../../assets/images/logo.svg';
---

<nav class="bg-primary-400 py-4 flex justify-center">
	<div>
		<Image src={logo} alt="Moon Society Logo" height={28} aspectRatio="10.92" />
	</div>
</nav>
